*{
    margin: 0;
    padding: 0;
}
:root{
    --sky: #375E97;
    --sunset: #FB6542;
    --sunflower: #FFBB00;
    --grass: #3F681C
    
}

body{
    background-color: dimgray;
}

#app{
    background-color: var(--sky);
    min-width: 320px;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    user-select: none;


}

#players, #controls, #multi{
    
    display: grid;
    grid-template-columns: repeat(6, auto);
}

#players div{
    height: 80px;
    text-align: center;
    border: 1px inset black;
    background-color: var(--sunflower);
    border-radius: 35%;
    padding: 10px 0;
    
}

#minus, #clear{
    
    background-color: var(--sunset);
    border-radius: 10px;
    height: 40px;
    font-size: 35px;
    font-weight: 800;
    padding-top: 5px;
    box-shadow: 3px 3px black;
    width: 90%;
    margin: 0 auto;

}
#minus{
    grid-column:  1 / 4;
}

#clear{
    grid-column: 4 / 7;

}
.button{
    height: 20px;
    border: black solid 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color: var(--grass);
    color:white;
    box-shadow: 2px 2px black;
    
}


.multiButton{
    background-color: var(--sunset); 
    box-shadow: 2px 2px black;
}
#controls .button:hover{
    background-color: #8CB36B;
} 

#controls  .button:active{
    background-color: #3E681C;
}
#multi{
    margin-top: 5px;
    border-top: 1px solid black
}

.toggled{
    background-color: #A33115;
}


#red{
    background-image: url(/assets/redStar.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#pink{
    background-image: url(/assets/pinkStar.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#yellow{
    background-image: url(/assets/yellowStar.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#green{
    background-image: url(/assets/greenStar.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#blue{
 background-image: url(/assets/blueStar.svg);
    background-repeat: no-repeat;
    background-position: center;;
}
#black{
    background-image: url(/assets/blackStar.svg);
    background-repeat: no-repeat;
    background-position: center;;
}

.checked{
    background-color: rgb(217, 241, 0) !important;
}





